* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

main {
    max-width: 900px;
    margin: 35px auto;
    display: flex;
    justify-content: space-between;
}

.main .typing #text01{
    background-color: #E5E5E5;
    border: none;
    outline: none;
    width: 100%;
    height: 50vh;
    padding: 35px;
    font-size: 26px;
    font-weight: 400;
    line-height: 48px;
    resize: none; /* desabilitar a mobilidade do Textarea */
}

.main .typing #text01::placeholder {
    color: blue;
    opacity: 0.5;
}

img {
    border-radius: 25px;
    min-height: 100%;
    width: 255px;
}

.buttons p {
    margin-bottom: 15px;
}

.buttons .btn {
    width: 300px;
    padding: 20px;
    border-radius: 24px;
    border: none;
}

.buttons .btn01{
    background-color: #0A3871;
    color: white;
}

.buttons .btn02{
    background-color: #E5E5E5;
    border: 1px solid blue;
    color: blue;
}

aside #container-descriptografia {
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    min-height: 100%;
    width: 255px;
    align-items: center;
    display: none;
    padding: 15px 0;
}

aside p {
    padding: 15px;
    font-size: 26px;
    font-weight: 400;
    line-height: 48px;
    word-break: break-all; /* Para quebrar as linhas do parágrafo */
}

#container-descriptografia .btn04{
    width: 80%;
    padding: 20px;
    border-radius: 24px;
    border: none;
    background-color: #E5E5E5;
    border: 1px solid blue;
    color: blue;
}

.btn:hover{
    cursor: pointer;
    transition: 0.2s all;
    transform: scale(0.9); /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); /* Lowering the shadow */
}